In [21]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import janitor

int_data = pd.read_excel("../clean_data/international_2019.xlsx")
int_data = int_data.clean_names(strip_underscores='right') # clean up the column names

In [4]:
int_data.shape

(32082, 11)

In [7]:
int_data.describe()

               Year  Visits (000s)  Nights (000s)    Spend (£m)        Sample
count  32082.000000   32082.000000   32082.000000  32082.000000  32082.000000
mean    2010.567047       1.439614      12.058341      0.877979      1.542516
std        5.002871       1.864941      29.706387      2.221832      1.433680
min     2002.000000       0.000088       0.001000      0.000000      1.000000
25%     2006.000000       0.430000       1.862780      0.105796      1.000000
50%     2011.000000       0.850000       4.620000      0.299705      1.000000
75%     2015.000000       1.707504      11.510000      0.828587      2.000000
max     2019.000000      69.044917    1284.176343     68.852170     25.000000

In [22]:
int_data.head()

,year,quarter,country,purpose,mode,duration,age,visits_000s,nights_000s,spend_£m,sample
0,2002,Quarter 1,USA,Holiday,Air,4-7 nights,0-15,0.27,1.60,0.16,1
1,2002,Quarter 1,USA,Holiday,Air,4-7 nights,16-24,1.08,4.62,0.25,4
2,2002,Quarter 1,USA,Holiday,Air,4-7 nights,25-34,0.99,5.03,0.81,3
3,2002,Quarter 1,USA,Holiday,Air,4-7 nights,45-54,0.35,1.80,0.08,1
4,2002,Quarter 1,USA,Holiday,Air,4-7 nights,65+,1.66,10.09,0.62,1

In [24]:
# create our response array (univariate series)
response_var = int_data["visits_000s"] # take out our response variable

# put our predictors in a dataframe
predictor_vars = int_data.drop(columns = "visits_000s") # take response variable out of our df

In [27]:
predictor_vars

,year,quarter,country,purpose,mode,duration,age,nights_000s,spend_£m,sample
0,2002,Quarter 1,USA,Holiday,Air,4-7 nights,0-15,1.600000,0.160000,1
1,2002,Quarter 1,USA,Holiday,Air,4-7 nights,16-24,4.620000,0.250000,4
2,2002,Quarter 1,USA,Holiday,Air,4-7 nights,25-34,5.030000,0.810000,3
3,2002,Quarter 1,USA,Holiday,Air,4-7 nights,45-54,1.800000,0.080000,1
4,2002,Quarter 1,USA,Holiday,Air,4-7 nights,65+,10.090000,0.620000,1
...,...,...,...,...,...,...,...,...,...,...
32077,2019,Quarter 4,Argentina,Holiday,Air,15+ nights,65+,14.176511,0.897375,1
32078,2019,Quarter 4,Argentina,Other,Air,8-14 nights,25-34,3.157103,0.228890,1
32079,2019,Quarter 4,Rest of Latin America,Holiday,Air,8-14 nights,25-34,11.633949,0.877631,1
32080,2019,Quarter 4,Rest of Latin America,Holiday,Air,8-14 nights,45-54,1.714171,0.135526,1
32081,2019,Quarter 4,Rest of Latin America,Holiday,Air,15+ nights,35-44,1.147342,0.103797,1

In [28]:
model = LinearRegression()

In [29]:
model.fit(predictor_vars, response_var)

ValueError: could not convert string to float: 'Quarter 1'